[app]
name = "gohub"
env = "local"
debug = true
url = "http://localhost:3000"
port = "3000"

# 默认数据库
[mysql.default]        
    dsn = "root:root@tcp(127.0.0.1:3306)/gohub?charset=utf8mb4&parseTime=True"
    max_open_conns = 25
    max_idle_conns = 25
    conn_max_lifetime = 300
# 其他数据库
[mysql.gisp]        
    dsn = "root:root@tcp(127.0.0.1:3306)/gisp?charset=utf8mb4&parseTime=True"
    max_open_conns = 25
    max_idle_conns = 25
    conn_max_lifetime = 300

[log]
# 日志级别，必须是以下这些选项：
# "debug" —— 信息量大，一般调试时打开。系统模块详细运行的日志，例如 HTTP 请求、数据库请求、发送邮件、发送短信
# "info" —— 业务级别的运行日志，如用户登录、用户退出、订单撤销。
# "warn" —— 感兴趣、需要引起关注的信息。 例如，调试时候打印调试信息（命令行输出会有高亮）。
# "error" —— 记录错误信息。Panic 或者 Error。如数据库连接错误、HTTP 端口被占用等。一般生产环境使用的等级。
# 以上级别从低到高，level 值设置的级别越高，记录到日志的信息就越少
# 开发时推荐使用 "debug" 或者 "info" ，生产环境下使用 "error"
level = "debug"
# 日志的类型，可选：
# "single" 独立的文件
# "daily" 按照日期每日一个
type = "daily"
# 日志文件路径
filename = "storage/logs/logs.log"
# 每个日志文件保存的最大尺寸 单位：M
max_size = 64
# 最多保存日志文件数，0 为不限，MaxAge 到了还是会删
max_backup = 5
# 最多保存多少天，7 表示一周前的日志会被删除，0 表示不删
max_age = 30
# 是否压缩，压缩日志不方便查看，我们设置为 false（压缩可节省空间）
compress = false

# 默认 redis
[redis.default]
host = "127.0.0.1"
port = 6379
db = 1

# 其他 redis
[redis.gisp]
host = "127.0.0.1"
port = 6379
db = 2

[captcha]
# 验证码图片高度
height = 80
# 验证码图片宽度
width = 240
# 验证码长度
length = 6
# 数字的最大倾斜角度
maxskew = 0.7
# 图片背景里的混淆点数量
dotcount = 80
# 过期时间：minute
expire_time = 15
# debug 模式下的过期时间：minute
debug_expire_time = 10080
# 非 production 环境，使用此 key 可跳过验证
testing_key = "captcha_skip_test"

[sms]
access_key_id = "LTAI4G8fApPTigCQSGq5yf1y"
access_key_secret = "uOJJTvNiJUVnHbTHZ5En817ae49DWJ"
sign_name = "数字出版"
template_code = "SMS_211800215"

[verifycode]
code_length = 6
expire_time = 15
debug_expire_time = 10080
debug_code = "123456"
debug_phone_prefix = "000"
debug_email_suffix = "@testing.com"